body {
  font-family: 'Lato', sans-serif;
  color: rgba(51, 51, 51, 1));
}

footer {
  position: absolute;
  width: 100%;
	height: 20%;
	clear:both;
  bottom: 0px;
  text-align: center;
}

h1 {
  font-size: 2.25em;
  font-style: thin;
}

.header-bar{
  padding: 2%;
  margin-bottom: 3%;
}

.social-icon {
  font-size: 3em;
  text-align: center;
}

i.social-icon:hover{
  color: rgba(255, 255, 255, 0.75);
}

#social-icons{
  margin-top: 3%
}
.template {
  display: none;
}

.pink {
  background-color: #FF3366;
}

.teal {
  background-color: #50D2C2;
}

.gold {
  background-color: #FCAB52;
}

.blue {
  background-color: #00B9FF;
}

.orange {
  background-color: #EE8F6E;
}

.purple {
  background-color:  #D667CD;
}

.grey {
  background-color: rgba(51, 51, 51, 1);
}

.pink-text {
  color: #FF3366;
}

.teal-text {
  color: #50D2C2;
}

.gold-text {
  color: #FCAB52;
}

.blue-text {
  color: #00B9FF;
}

.orange-text {
  color: #EE8F6E;
}

.purple-text {
  color:  #D667CD;
}

.grey-text {
  color: rgba(51, 51, 51, 1);
}

.white-text{
  color: #FFFFFF;
}
