body {
  font-family: 'Lato', sans-serif;
  color: rgba(51, 51, 51, 1));
}

footer {
  position: relative;
  width: 100%;
	height: 20%;
	clear:both;
  bottom: 0px;
  text-align: center;
  border-top-color: rgba(51, 51, 51, .25);
  border-top-style: solid;
  border-top-width: thin;
}

h1 {
  font-size: 2.0em;
  font-style: thin;
  /*text-align: center; -- need to make this apply at smaller sizes*/
}

section.nav-links {
  border: solid 1px #D667CD;
  text-align: center;
  padding: 10px;
  margin: 0 2% 2% 0;
  position: relative;

}

a {
  text-decoration: none;
  /*font-weight: lighter;*/
}

a:hover {
  color: rgba(51, 51, 51, 0.75);
}

/* I don't know if I like this style... */
/*article {
  margin: 1.25%;
  border: solid 1px rgba(51, 51, 51, .25);
  padding: 2%;
  border-radius: 10px;
}*/

h2 {
  font-size: 1.75em;
}

.nav-links:hover {
  color: #FFFFFF;
  background-color: #D667CD;
}

.header-bar{
  width: 100%;
  padding: 1.75%;
  margin-bottom: 2%;
  border-bottom-color: rgba(51, 51, 51, .25);
  border-bottom-style: solid;
  border-bottom-width: thin;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #FFFFFF;
}

.header-spacer {
  display: block;
  width: 100%;
  height: 150px;
  background: #FFFFFF;
  z-index: 99;
}

.header-bar > .container {
  width: 100%; }

.social-icon {
  font-size: 3em;
  text-align: center;
}

i.social-icon:hover{
  color: rgba(51, 51, 51, 0.75);
}

#social-icons{
  margin-top: 3%
}

.template {
  display: none;
}

.pink {
  background-color: #FF3366;
}

.teal {
  background-color: #50D2C2;
}

.gold {
  background-color: #FCAB52;
}

.blue {
  background-color: #00B9FF;
}

.orange {
  background-color: #EE8F6E;
}

.purple {
  background-color:  #D667CD;
}

.grey {
  background-color: rgba(51, 51, 51, 1);
}

.pink-text {
  color: #FF3366;
}

.teal-text {
  color: #50D2C2;
}

.gold-text {
  color: #FCAB52;
}

.blue-text {
  color: #00B9FF;
}

.orange-text {
  color: #EE8F6E;
}

.purple-text {
  color:  #D667CD;
}

.grey-text {
  color: rgba(51, 51, 51, 1);
}

.white-text{
  color: #FFFFFF;
}
