.template {
  display: none;
}

.pink {
  background-color: #FF3366;
}

.teal {
  background-color: #50D2C2;
}

.gold {
  background-color: #FCAB52;
}

.blue {
  background-color: #00B9FF;
}

.orange {
  background-color: #EE8F6E;
}

.purple {
  background-color:  #D667CD;
}
