footer {
  position: relative;
  width: 100%;
	height: 20%;
	clear:both;
  bottom: 0px;
  text-align: center;
}

#filters > li {
  display: inline;
}

.section {
  padding: 10rem 0 8rem;
  text-align: center;
}
