
.pink {
  background-color: #FF3366;
}

.teal {
  background-color: #50D2C2;
}

.gold {
  background-color: #FCAB52;
}

.blue {
  background-color: #00B9FF;
}

.orange {
  background-color: #EE8F6E;
}

.purple {
  background-color:  #D667CD;
}

.grey {
  background-color: rgba(31, 31, 31, 1);
}

.white {
  background-color: #FFFFFF;
}

.pink-text {
  color: #FF3366;
}

.teal-text {
  color: #50D2C2;
}

.gold-text {
  color: #FCAB52;
}

.blue-text {
  color: #00B9FF;
}

.orange-text {
  color: #EE8F6E;
}

.purple-text {
  color:  #D667CD;
}

.grey-text {
  color: rgba(31, 31, 31, 1);
}

.white-text{
  color: #FFFFFF;
}
